body {
  font-family: "Montserrat", sans-serif;
  margin: 20px;
}

li {
  list-style: none;
}

h1,
h2,
p,
li,
ul,
input,
button,
.future-weather > div {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 32px;
  font-weight: 400;
  text-align: left;
}

h2 {
  text-align: right;
  font-size: 22px;
  font-weight: 400;
  padding: 0;
  line-height: 80px;
  display: inline;
  vertical-align: bottom;
  margin-right: 0;
}

.plain-border {
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 5px 5px 7px rgba(126, 126, 126, 0.5);
  border-radius: 5px;
}

.wrap {
  max-width: 400px;
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.6) 0%,
    rgb(160, 199, 254) 74.6%
  );
}

.search-bar-button {
  color: #000;
  background-color: rgba(225, 225, 225, 0.1);
  height: 33px;
  width: 33px;
  transition: all 150ms ease-in;
}

.search-bar-button:hover {
  color: #fff;
  background-color: rgba(75, 119, 181, 0.4);
}

.current-weather-details .left {
  padding: 0 5px;
  text-align: left;
}
.current-weather-details .right {
  text-align: right;
  padding: 0;
}

.current-weather-details {
  display: inline-block;
  width: 115px;
  margin: 0px;
}

.current-weather-font {
  font-size: 11px;
  text-align: center;
}

.forecast-icon {
  width: 55px;
  display: block;
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: -10px;
}

.future-weather {
  border: 1px solid rgba(0, 0, 0, 0);
  transition: all 150ms ease-in;
}

.future-weather:hover {
  background-color: rgba(155, 155, 155, 0.1);
  cursor: pointer;
  border-radius: 3px;
}

.future-weather > div {
  font-size: 16px;
  line-height: 33px;
  text-align: center;
  font-weight: 300;
  margin-top: 10px;
  transition: all 150ms ease-in;
}

.future-weather > .left {
  text-align: left;
  margin: 10px 0px 10px 15px;
}

#search-bar-wrap {
  margin: 15px 0px 10px 1px;
  padding: 0px;
}

#location-form {
  display: inline-block;
}

#search-city-input {
  width: 292px;
  line-height: 30px;
  padding-left: 10px;
  transition: all 150ms ease-in-out;
}

#weather-icon {
  width: 50%;
  display: block;
  padding: 0px;
  margin: 0 auto;
}

#scale-link {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.4);
}

#scale-link :hover {
  color: #000;
  text-decoration: underline;
}

#weather-forecast-wrapper {
  margin-bottom: 15px;
  margin-top: 15px;
  padding-left: 14px;
  padding-right: 15px;
}

#current-weather-city,
#current-weather-temperature {
  display: inline;
  height: 80px;
}

#current-weather,
#current-temp,
#temperature-scale {
  margin: 0;
  padding: 0;
}

#current-weather-city {
  width: 70%;
  padding: 5px 0 0 20px;
}
#current-weather-temperature {
  width: 25%;
  margin: 0;
}

#current-weather-top {
  height: 80px;
}
#current-weather-bottom {
  margin-top: 5px;
}

#current-weather {
  padding: 5px;
}

#current-weather-details {
  padding: 10px 0;
}

#search-city-input:hover,
#search-city-input:active,
#current-weather:hover,
.future-weather:hover,
button:hover {
  border: 1px solid #17a2b8;
  box-shadow: 5px 5px 8px rgba(128, 128, 128, 0.9);
}

#footer {
  font-size: 12px;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  margin: 7px;
}

#footer-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
  padding: 1px 3px;
}

#footer-link:hover {
  color: rgba(0, 0, 0, 0.8);
  background: linear-gradient(
    rgba(0, 0, 255, 0.5) 30%,
    rgba(255, 255, 0, 0.5) 80%
  );
  border-radius: 5px;
}
